replicaCount: 1

image:
  pullPolicy: IfNotPresent

persistence:
  config:
    enabled: true
    accessMode: ReadWriteMany
    existingClaim: '${config_pvc}'
  media:
    enabled: true
    accessMode: ReadWriteMany
    existingClaim: '${media_pvc}'

resources:
  limits:
    cpu: 2
    memory: 6Gi
  requests:
    cpu: 1
    memory: 2Gi

nodeSelector: {}
tolerations: []
affinity: {}